<div id="<%= dom_id pen %>">
  <p>
    <strong>Title:</strong>
    <%= pen.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pen.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pen.price %>
  </p>

</div>
